<div class="jumbotron" style="background:url(<%= asset_path "001_1280_768.jpg" %>); background-size:cover;">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center" style="height:510px;">
      <div class="registrations p-2 bg-light text-dark rounded">

        <h2><strong>アカウント新規登録</strong></h2>
        <%= form_with model:@user, url: user_registration_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <body class="text-center">
          <div class="row">
            <div class="col-sm-6">

              <div class="field">
                <%= f.label :名前 %>
              </div>

              <div class="field">
                <%= f.label :ユーザー画像 %>
              </div>

              <div class="field">
                <%= f.label :メールアドレス %>
              </div>

              <div class="field">
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %>
              </div>

              <div class="field">
                <%= f.label :パスワード（確認用） %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="field">
                <%= f.text_field :name, autofocus: true %>
              </div>

              <div class="field">
                <%= f.attachment_field :user_image %>
              </div>

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
            </div>

            <div class="col-sm-12 d-flex justify-content-center">
              <div class="actions mx-auto">
                <%= f.submit "アカウント登録", class:"btn btn-success" %>
              </div>
              <% end %>
            </div>
            
            <div class="col-sm-12 mt-3 d-flex justify-content-center">
              <%= link_to "すでに登録済みの方はこちら", new_user_session_path, class:"btn btn-outline-secondary btn-sm" %>
            </div>


          </div>
        </body>

      </div>
    </div>
  </div>
</div>


