<div class="container-fluid">
  <div class="row">
    <%= render 'posts/sidebar', posts: @posts %>

    <div class="col-md-8 ">
      <div class="d-flex border border-info rounded">
        <div class="userdata m-3 p-2">
          <%= attachment_image_tag current_user, :user_image, :fill, 60, 60, format:'jpeg', fallback: "user.jpeg" %>
        </div>
        <div class="userdata m-3 p-2">
          <h3><%= @user.name %>さんのページ</h3>
          <div class="user-edit">
            <% if user_signed_in? && @user == current_user %>
            <%= link_to "アカウント情報編集", edit_user_path, class: "user-edit-btn" %>
            <% end %>
          </div>
        </div>
      </div>
      <% @post.each do |post| %>
      <div class="post border border-info rounded m-3 p-2">
      <h3><%= post.place_name %></h3>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div><%= attachment_image_tag post, :place_image, :fill, 300, 300, format:'jpeg' %></div>

        <div id='map_<%= post.id %>' class="map"></div>
      </div>
      <div class="col-md-8">
        <%= post.text %>
      </div>
        <%= link_to post_path(post.id), class:"btn btn-outline-info" do %>
      　　詳しく見る
      　<% end %>
        <% if post.user == current_user %>
          <%= link_to edit_post_path, class:"btn btn-outline-info" do %>
            編集する
          <% end %>
        <% end %>
      </div>
      <% end %>

  </div>
</div>
</div>

<style>
.map {height: 300px; width: 300px;}
</style>


<script>
        // let map ~[];
        function initMap(){
          console.log('initMap');
          geocoder = new google.maps.Geocoder()
      <% @post.each do |post| %>
          <% if post.latitude && post.longitude %>
          var map = new google.maps.Map(document.getElementById('map_<%= post.id %>'), {
            center: {lat: <%= post.latitude %>, lng: <%= post.longitude %> },
            zoom: 12,
          });
          var marker = new google.maps.Marker({
            position:  {lat: <%= post.latitude %>, lng: <%= post.longitude %> },
            map: map
          });
          <% end %>
      <% end %>
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
