<div class="jumbotron" style="background:url(<%= asset_path "001_1280_768.jpg" %>); background-size:cover;">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center" style="height:510px;">
      <div class="sesions p-2 bg-light text-dark rounded">

        <h2><strong>ログイン</strong></h2>

        <%= form_with model:@user, url: user_session_path, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="field m-2">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field m-2">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        
        <div class="d-flex justify-content-center">
          <span class="actions m-3 mx-auto">
            <%= f.submit "ログイン", class:"btn btn-success" %>
          </span>
    
          <span class="actions m-3 mx-auto">
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-success" %>
          </span>
        </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>



