    <div class="col-sm-2" style="background-color: orange;">
      <div class="sidebar pt-5 text-center">

        <% if user_signed_in? %>
          <ul class="list-unstyled">
   
            <li class="pt-2">
              <%= link_to "TOP", posts_path, class:"btn btn-success" %>
          　</li>
            <li class="pt-2">
              <%= link_to "MY PAGE", user_path(current_user.id), class:"btn btn-success" %>
          　</li>
            <li class="pt-2">
              <%= link_to "POST", new_post_path, class:"btn btn-success" %>
            </li>
            <li class="pt-2">
              <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"btn btn-success" %>
            </li>
          </ul>
        <% else %>
          <ul class="list-unstyled">
            <li>
              <p><strong>Wellcome gest user,<br>
              Register as a person and<br>
              post your memories!</strong></p>
            </li>
            <li class="pt-2">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="pt-2">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
