
    <div class="col-md-2" style="background-color: orange;">
      <div class="sidebar pt-5 sticky-top vh-100">

        <% if user_signed_in? %>
          <ul class="list-sidebar list-unstyled">
            <li class="pt-2">
              <%= link_to posts_path, class:"btn btn-outline-light btn-block", "data-turbolinks": false do %>
              <i class="far fa-map"></i> 投稿一覧
              <% end %>
          　</li>
            <li class="pt-2">
              <%= link_to user_path(current_user.id), class:"btn btn-outline-light btn-block" do %>
              <i class="fas fa-user-circle"></i> マイページ
              <% end %>
          　</li>
            <li class="pt-2">
              <%= link_to new_post_path, class:"btn btn-outline-light btn-block", "data-turbolinks": false do %>
              <i class="fas fa-map-marked-alt"></i> 新規投稿
              <% end %>
            </li>
            <li class="pt-2">
              <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-outline-light btn-block" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul class="list-sidebar-unsession list-unstyled">
            <li>
              <p><strong>Wellcome gest user,<br>
              Register as a person and<br>
              post your memories!</strong></p>
            </li>
            <li class="pt-2">
              <%= link_to new_user_registration_path, class:"btn btn-outline-light btn-block" do %>
              <i class="fas fa-address-card"></i> 新規登録
              <% end %>
            </li>
            <li class="pt-2">
              <%= link_to new_user_session_path, class:"btn btn-outline-light btn-block" do  %>
              <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
