<div class="container-fluid">
  <div class="row">
    <%= render 'posts/sidebar', posts: @posts %>
    <div class="col-md-10">
      <div id='map' class="map"></div>
    </div>
  </div>
</div>


<style>
.map {height: 800px; width: auto;}
</style>

<script>
function initMap(){
  console.log('initMap');
  geocoder = new google.maps.Geocoder()


  let latlng = new google.maps.LatLng(37.97741063355745, 138.97084644902964);

  let styles = [
       {
        stylers: [
         { "saturation": 0 },
         { "lightness": 0 }
        ]
       }
      ];

  let map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5.5,
    styles: styles,
    center: latlng
  });
  let transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

    <% @posts.each do |post|%>
    ( function() {
    var markerLatLng = new google.maps.LatLng({lat: <%= post.latitude %>, lng: <%= post.longitude %>}); // 緯度経度のデータ作成
    var marker = new google.maps.Marker({
      position: markerLatLng,
      map: map
    });

    var infowindow = new google.maps.InfoWindow({
      position: markerLatLng,
      content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.place_name %></a>"
    }); 
    marker.addListener('click', function() {
      infowindow.open(map, marker);
      });
   })();
  <% end %>
        
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>










