<div class="container-fluid">
  <div class="row">
    <%= render 'posts/sidebar', posts: @posts %>
    <div class="col-md-10">
      <div id='map' class="map"></div>
    </div>
  </div>
</div>


<style>
.map {height: 700px; width: auto;}
</style>

<script>
function initMap(){
  console.log('initMap');
  geocoder = new google.maps.Geocoder()
  
  let map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5.5,
    styles: styles,
    center: latlng
  });
  let transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);
  //複数マーカー ここから
    <% @posts.each do |post|%>
    ( function() {
    var markerLatLng = new google.maps.LatLng({lat: <%= post.latitude %>, lng: <%= post.longitude %>}); // 緯度経度のデータ作成
    var marker = new google.maps.Marker({
      position: markerLatLng,
      map: map
    });
  　//マーカーをクリックしたとき、詳細情報を表示
    var infowindow = new google.maps.InfoWindow({
      position: markerLatLng,
      content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.text %></a>"
    }); //ここで詳細ページへのリンクを表示させる
    marker.addListener('click', function() {
      infowindow.open(map, marker);
      });
   })();
  <% end %>
        //複数マーカー ここまで
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoxhu4tckgppQ5QhtBW6pzZGzCTL7ZDq0&callback=initMap" async defer></script>










